.allPage{
    margin-left: 28%;
    margin-top: 200px;
    font-size: 20px;
    font-weight: lighter;
    text-align: center;

  }

.btnSubmit{
    margin-top: 10px;
    background-color: #362424;
    color: white;
    width: 28%;
    font-weight: lighter;
    font-size: 20px;
    float: left;
    margin-left: 16%;
}


  
.textTitle{
    color: #362424;
    margin-left: 23%;
}

.form-control{
    width: 125%;
}

.alert{
    margin-left: 6%;
}