.all-page{
    margin-left: 30%;
    font-size: 20px;
    font-weight: lighter;
    text-align: center; 
}

.textTitle{
    color: #362424;
    margin-top: 3%;
}

.btn-add{
    float: left;
    margin-left: 42%;
    background-color: #362424;
    color: white;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 5%;
}

.choose-photo{
    float: left;
    margin-top: 5%;
    margin-left: 25%;
}

.page-info{
    margin-top: 125px;
    margin-left: 33.5%;
    font-size: 20px;
    font-weight: lighter;
}